# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.stylelintcache
/.eslintcache
!/coverage/
!/.eslintcache
/.eslintcache
/coverage/ui/src/api/api-client.ts.html
/coverage/ui/src/App.tsx.html
/coverage/ui/src/providers/app-provider.tsx.html
/coverage/ui/src/layouts/AppLayout.tsx.html
/coverage/ui/src/providers/auth-provider/auth-provider.tsx.html
/coverage/ui/src/store/auth-store/auth-store.ts.html
/coverage/base.css
/coverage/block-navigation.js
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/favicon.png
/coverage/ui/src/api/github-client.ts.html
/coverage/ui/src/components/Header/Header.tsx.html
/coverage/ui/src/api/repos/github/index.html
/coverage/ui/src/api/repos/index.html
/coverage/ui/src/api/user/github/index.html
/coverage/ui/src/api/user/index.html
/coverage/ui/src/api/index.html
/coverage/ui/src/components/Header/ReposList/index.html
/coverage/ui/src/components/Header/UserMenu/index.html
/coverage/ui/src/components/Header/index.html
/coverage/ui/src/components/Loading/index.html
/coverage/ui/src/components/NavBar/index.html
/coverage/ui/src/components/index.html
/coverage/ui/src/layouts/index.html
/coverage/ui/src/providers/auth-provider/index.html
/coverage/ui/src/providers/index.html
/coverage/ui/src/store/auth-store/index.html
/coverage/ui/src/store/index.html
/coverage/ui/src/utils/index.html
/coverage/ui/src/index.html
/coverage/ui/test-utils/index.html
/coverage/ui/index.html
/coverage/index.html
/coverage/ui/src/api/repos/github/index.ts.html
/coverage/ui/src/api/repos/index.ts.html
/coverage/ui/src/api/user/github/index.ts.html
/coverage/ui/src/api/user/index.ts.html
/coverage/ui/src/api/index.ts.html
/coverage/ui/src/components/Header/ReposList/index.ts.html
/coverage/ui/src/components/Header/UserMenu/index.ts.html
/coverage/ui/src/components/Header/index.ts.html
/coverage/ui/src/components/Loading/index.ts.html
/coverage/ui/src/components/NavBar/index.ts.html
/coverage/ui/src/components/index.ts.html
/coverage/ui/src/layouts/index.ts.html
/coverage/ui/src/providers/auth-provider/index.ts.html
/coverage/ui/src/providers/index.ts.html
/coverage/ui/src/store/auth-store/index.ts.html
/coverage/ui/src/store/index.ts.html
/coverage/ui/src/utils/index.ts.html
/coverage/ui/test-utils/index.ts.html
/coverage/ui/src/components/Loading/Loading.tsx.html
/coverage/ui/src/main.tsx.html
/coverage/ui/src/providers/mantine-provider.tsx.html
/coverage/ui/src/components/NavBar/NavBar.tsx.html
/coverage/ui/postcss.config.cjs.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/ui/src/providers/react-query-provider.tsx.html
/coverage/ui/test-utils/render.tsx.html
/coverage/ui/src/api/repos/repo-query-keys.ts.html
/coverage/ui/src/components/Header/ReposList/ReposList.tsx.html
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/ui/src/theme.ts.html
/coverage/ui/src/api/repos/github/use-repos.ts.html
/coverage/ui/src/api/user/github/use-user.ts.html
/coverage/ui/src/api/user/user-query-keys.ts.html
/coverage/ui/src/components/Header/UserMenu/UserMenu.tsx.html
/coverage/ui/src/utils/yaml_to_json.ts.html
